body {
    background-color: lightblue;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    border: solid 1px black;
    margin: auto;
    font-size: 18px;
    background-color: white;
}

nav-flex {
    display: flex;
    padding: 0px;
}

p.purple {
    color: purple;
}

h {
    font-size: 30px;
    font-family: serif;
}

h2 {
    background-color: darkseagreen;
    width: 100%;
    height: 80px;
    font-size: 30px;
    font-family: sans-serif;
}

h3 {
    border: solid 1px white;
    border-width: medium;
    font-size: 25px;
}

hr {
    background-color:#901372;
}

.img-circle {
    border-radius: 50%;
    height:400px;
    width: 410px;
    margin: 50px;
}

#absolute {
    position: absolute;
    width: 300px;
    left: 600px;
    color: black;
    z-index: 10;
    border: solid 1px white;
    top: 900px;
}

img {
    width: 400px;
    height: 300px;
    margin: 20px;
}

.img-logo {
    width: 525px;
    height: 600px;
    margin-top:30px;
}
